<!DOCTYPE html>
<html>
<head>
    <title>Retro Consoles</title>
</head>
<body>
    <h1>Retro Video Game Consoles</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Release Year</th>
        </tr>
        {% for console in consoles %}
        <tr>
            <td>{{ console.name }}</td>
            <td>{{ console.manufacturer }}</td>
            <td>{{ console.release_year }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{{ url_for('add_console') }}">Add Console</a></p>
</body>
</html>